/* Light Theme */
.light-theme {
  background-color: white;
  color: rgb(13, 18, 22);
}

/* Dark Theme */
.dark-theme {
  background-color: rgb(88, 87, 87);
  color: white;
}

/* App Styles */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.toggle-button {
  float: left;
  margin-top: 10vh;
  position: fixed;
  background-color: rgba(219, 7, 7, 0.726);
  color: inherit;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
}
